@media (prefers-color-scheme: dark) {
    body {
        color: $text-color-dark;
    }

    .post-meta ul li {
        .meta-text {
            color: $grey-color-dark;
        }

        .meta-icon svg {
            fill: $grey-color-dark;
        }
    }

    body,
    .page-content,
    {
        background-color: $background-color-dark;
    }

    body > header,
    body > footer,
    article div.series-header,
    article div.series-footer,
    .pagination,
    .post-list > li,
    .site-nav,
    .section-nav,
    .post-nav,
    .post-content tbody tr:nth-child(odd) {
        background-color: lighten($background-color-dark, 5%);
    }

    .post-list > li article a.read-more {
        background: lighten($background-color-dark, 5%);
        box-shadow: 0 -12px 50px 50px lighten($background-color-dark, 5%);
    }

    .post-content {
        td, th {
            border-bottom-color: $brand-color-dark;
        }

        q {
            background-color: lighten($background-color-dark, 10);
        }
    }

    .pagination,
    .post-nav,
    .section-nav {
        .button {
            border-color: $grey-color-dark;

            &.disabled {
                color: $grey-color-dark;
            }
        }
    }

    .highlight,
    pre,
    code {
        background-color: lighten($background-color-dark, 10%);
        border-color: $grey-color-dark;
    }

    a {
        color: $brand-color-dark;

        &:visited {
            color: adjust-hue($brand-color-dark, -120deg);
        }

        &:hover {
            color: $text-color-dark;
        }
    }
}
