<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% if page.excerpt %}
{% assign description = page.excerpt | strip_html | normalize_whitespace | truncate: 160 %}
{% else %}
{% assign description = site.description | markdownify | strip_html | normalize_whitespace %}
{% endif %}
<title>{% include page_title.html %}</title>
<meta name="description" content="{{ description }}">

<link rel="stylesheet" href="{{ "/assets/css/jekyll-theme-switch.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
{% if page.previous %}<link rel="prev" href="{{ page.previous.url | absolute_url }}">{% endif %}
{% assign canonical_url = page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url %}
<link rel="canonical" href="{{ canonical_url }}">
{% if page.next %}<link rel="next" href="{{ page.next.url | absolute_url }}">{% endif %}
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

{% for link in site.links %}
<link rel="{{ link.rel }}" href="{{ link.href }}"/>
{% endfor %}

<meta property="og:title" content="{% include page_title.html %}">
<meta property="og:description" content="{{ description }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:url" content="{{ canonical_url }}">
{% if page.lead_image %}
<meta property="og:image" content="{{ page.lead_image | absolute_url }}"/>
{% endif %}

{% if page.lead_image %}
<meta property="twitter:card" content="summary_large_image"/>
<meta property="twitter:image" content="{{ page.lead_image | absolute_url }}"/>
{% else %}
<meta property="twitter:card" content="summary"/>
{% endif %}
<meta property="twitter:title" content="{% include page_title.html %}"/>
<meta property="twitter:description" content="{{ description }}"/>
{% if site.twitter_username %}<meta property="twitter:creator" content="@{{ site.twitter_username }}"/>{% endif %}
<meta property="twitter:site" content="{{ canonical_url }}"/>

{% if site.mastodon_profile %}<meta name="fediverse:creator" content="{{ site.mastodon_profile }}">{% endif %}
