<!-- Pagination links -->
<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous button">
        <i class="material-icons">keyboard_arrow_left</i> {{ site.data.i18n.nav.previous }}
    </a>
    {% else %}
    <span class="previous button">
          <i class="material-icons">keyboard_arrow_left</i> {{ site.data.i18n.nav.previous }}
        </span>
    {% endif %}
    <span class="page_number" style="display: flex; align-items: center">
      {{ site.data.i18n.nav.page_of_pages | params: page: paginator.page, pages: paginator.total_pages }}
    </span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next button">
        {{ site.data.i18n.nav.next }} <i class="material-icons">keyboard_arrow_right</i>
    </a>
    {% else %}
    <span class="next button">
          {{ site.data.i18n.nav.next }} <i class="material-icons">keyboard_arrow_right</i>
        </span>
    {% endif %}
</div>
