<nav class="post-nav">
    {% if page.previous %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}"
       class="previous button" title="{{ page.previous.title }}">
        <i class="material-icons">keyboard_arrow_left</i> {{ site.data.i18n.nav.previous }}
    </a>
    {% else %}
    <span class="previous button disabled">
        <i class="material-icons">keyboard_arrow_left</i> {{ site.data.i18n.nav.previous }}
      </span>
    {% endif %}
    {% if page.next %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="next button"
       title="{{ page.next.title }}">
        {{ site.data.i18n.nav.next }} <i class="material-icons">keyboard_arrow_right</i>
    </a>
    {% else %}
    <span class="next button disabled">
        {{ site.data.i18n.nav.next }} <i class="material-icons">keyboard_arrow_right</i>
      </span>
    {% endif %}
</nav>
