{% if post.lead_image %}
<style type="text/css" scoped>
    li#post-{{ post.id | slugify }} {
        background-image: radial-gradient(farthest-corner at 100% 0, rgba(255,255,255,0.7) 33%, rgba(255,255,255,1) 66%),
        url('{{ post.lead_image | prepend: site.baseurl | prepend: site.url }}');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right center;
    }

    @media (prefers-color-scheme: dark) {
        li#post-{{ post.id | slugify }} {
        background-image: radial-gradient(farthest-corner at 100% 0, rgba(31,31,31,0.7) 33%, rgba(31,31,31,1) 66%),
        url('{{ post.lead_image | prepend: site.baseurl | prepend: site.url }}');
    }
    }
</style>
{% endif %}

<li id="post-{{ post.id | slugify }}">
    <article>
        {% include post_meta.html post=post %}

        <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <div class="post-content">
            {{ post.content }}
        </div>

        <a class="read-more" href="{{ post.url | prepend: site.baseurl }}">{{ site.data.i18n.read_more }}</a>
    </article>
</li>
