<div class="post-meta">
    <ul>
        {% if include.post.date %}
        <li>
            <span class="meta-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path
                        d="M29.85 37q-2.05 0-3.45-1.4-1.4-1.4-1.4-3.45 0-2.05 1.4-3.45 1.4-1.4 3.45-1.4 2.05 0 3.45 1.4 1.4 1.4 1.4 3.45 0 2.05-1.4 3.45-1.4 1.4-3.45 1.4ZM9 44q-1.2 0-2.1-.9Q6 42.2 6 41V10q0-1.2.9-2.1Q7.8 7 9 7h3.25V4h3.25v3h17V4h3.25v3H39q1.2 0 2.1.9.9.9.9 2.1v31q0 1.2-.9 2.1-.9.9-2.1.9Zm0-3h30V19.5H9V41Zm0-24.5h30V10H9Zm0 0V10v6.5Z"/></svg>
            </span>
            <span class="meta-text">{% include date.html date=include.post.date %}</span>
        </li>
        {% if include.post.modified_date %}
        <li>
            <span class="meta-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path
                        d="M21 10.12h-6.78l2.74-2.82c-2.73-2.7-7.15-2.8-9.88-.1-2.73 2.71-2.73 7.08 0 9.79s7.15 2.71 9.88 0C18.32 15.65 19 14.08 19 12.1h2c0 1.98-.88 4.55-2.64 6.29-3.51 3.48-9.21 3.48-12.72 0-3.5-3.47-3.53-9.11-.02-12.58s9.14-3.47 12.65 0L21 3v7.12zM12.5 8v4.25l3.5 2.08-.72 1.21L11 13V8h1.5z"/></svg>
            </span>
            <span class="meta-text">{% include date.html date=include.post.modified_date %}</span>
        </li>
        {% endif %}
        <li>
            <span class="meta-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path
                        d="M24 23.95q-3.3 0-5.4-2.1-2.1-2.1-2.1-5.4 0-3.3 2.1-5.4 2.1-2.1 5.4-2.1 3.3 0 5.4 2.1 2.1 2.1 2.1 5.4 0 3.3-2.1 5.4-2.1 2.1-5.4 2.1ZM8 40v-4.7q0-1.9.95-3.25T11.4 30q3.35-1.5 6.425-2.25Q20.9 27 24 27q3.1 0 6.15.775 3.05.775 6.4 2.225 1.55.7 2.5 2.05.95 1.35.95 3.25V40Zm3-3h26v-1.7q0-.8-.475-1.525-.475-.725-1.175-1.075-3.2-1.55-5.85-2.125Q26.85 30 24 30t-5.55.575q-2.7.575-5.85 2.125-.7.35-1.15 1.075Q11 34.5 11 35.3Zm13-16.05q1.95 0 3.225-1.275Q28.5 18.4 28.5 16.45q0-1.95-1.275-3.225Q25.95 11.95 24 11.95q-1.95 0-3.225 1.275Q19.5 14.5 19.5 16.45q0 1.95 1.275 3.225Q22.05 20.95 24 20.95Zm0-4.5ZM24 37Z"/></svg>
            </span>
            <span class="meta-text">{{ include.post.author | default: site.author }}</span>
        </li>
        {% endif %}
        {% if include.post.categories.size > 0 %}
        <li>
            <span class="meta-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path
                        d="m13.05 21.7 11-17.7 11 17.7ZM35.3 44q-3.7 0-6.2-2.5t-2.5-6.2q0-3.7 2.5-6.2t6.2-2.5q3.7 0 6.2 2.5t2.5 6.2q0 3.7-2.5 6.2T35.3 44ZM6 42.75v-15.2h15.2v15.2ZM35.3 41q2.4 0 4.05-1.65T41 35.3q0-2.4-1.65-4.05T35.3 29.6q-2.4 0-4.05 1.65T29.6 35.3q0 2.4 1.65 4.05T35.3 41ZM9 39.75h9.2v-9.2H9Zm9.45-21.05h11.2l-5.6-9.05Zm5.6 0ZM18.2 30.55Zm17.1 4.75Z"/></svg>
            </span>
            <span class="meta-text">{{ include.post.categories | categorylinks | join: ' / ' }}</span>
        </li>
        {% endif %}
        {% if include.post.tags.size > 0 %}
        <li>
            <span class="meta-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path
                        d="m42 24-8.45 11.95q-.65.9-1.55 1.475-.9.575-2 .575H9q-1.25 0-2.125-.875T6 35V13q0-1.25.875-2.125T9 10h21q1.1 0 2 .575.9.575 1.55 1.475Zm-3.75 0-7.7-11H9v22h21.55ZM9 24v11-22Z"/>
                </svg>
            </span>
            <span class="meta-text">{{ include.post.tags | taglinks | join: ', ' }}</span>
        </li>
        {% endif %}
        {% if include.post.subtitle %}
        <li>
            <span class="meta-text">{{ include.post.subtitle }}</span>
        </li>
        {% endif %}
    </ul>
</div>
