{% assign holidays = site.data.holidays | map: 'docs' | join: ',' | split: ',' %}

{% for holiday in holidays %}
  {% assign holiday_url = holiday | prepend:"/holidays/" | append:"/" %}
  {% if holiday_url == page.url %}
    <div class="section-nav">
      <div class="align-left">
          {% if forloop.first %}
            <span class="prev disabled">Back</span>
          {% else %}
            {% assign previous = forloop.index0 | minus: 1 %}
            {% assign previous_page = holidays[previous] | prepend:"/holidays/" | append:"/" %}
            <a href="{{ previous_page }}" class="prev">Back</a>
          {% endif %}
      </div>
      <div class="align-right">
          {% if forloop.last %}
            <span class="next disabled">Next</span>
          {% else %}
            {% assign next = forloop.index0 | plus: 1 %}
            {% assign next_page = holidays[next] | prepend:"/holidays/" | append:"/" %}
            <a href="{{ next_page }}" class="next">Next</a>
          {% endif %}
      </div>
    </div>
    <div class="clear"></div>
    {% break %}
  {% endif %}
{% endfor %}
