
<div class='embed-container'>
    <iframe title="YouTube video player"
            width="640" height="390"
            src="https://www.youtube-nocookie.com/embed/{{ youtube_id }}"
            frameborder="0" allowfullscreen></iframe>
</div>
