---
layout: wrapped
---
<div class="archives">
  <div>
    <h1 class="title">{{ site.data.i18n.archives.index_header }}</h1>
  </div>
  <div>
    <ul>
      {% for year in page.years reversed %}
      <li><time><a href="{{ year[0] }}"><strong>{{ year[0] }}</strong><span class="count">{{ year[1] | size }}</span></a></time></li>
      {% endfor %}
    </ul>
  </div>
</div>
