<!DOCTYPE html>
<html>

  <head>
  {% include head.html %}
  </head>

  <body>

    {% include header.html %}

    <div class="page-content">
      {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>
