---
layout: wrapped
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    {% include post_meta.html post=page %}
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  {% include section_nav.html %}

  <!-- {% include holidays_contents.html %} -->

</div>
