---
layout: wrapped
---
<div class="monthly-archive">
  <div>
    {% capture month %}<time datetime="{{ page.date | date: '%Y-%m' }}">{% include month.html date=page.date %} {{ page.date | date: "%Y" }}</time>{% endcapture %}
    <h1 class="title">{{ site.data.i18n.archives.monthly_header | params: month: month }}</h1>
  </div>
  <div>
      <dl>
          {% for post in page.posts reversed %}
          <dt>{% include date.html date=post.date %}</dt>
          <dd><a href="{{ post.url | prepend: site.baseurl }}"><span>{{ post.title }}</span></a></dd>
          {% endfor %}
      </dl>
  </div>
</div>
