---
layout: default
---
<div class="post {{ page.id | replace: '/', '-' }}">

  {% if page.lead_image %}
  <div class="lead-image" style="background-image: url('{{ page.lead_image | prepend: site.baseurl | prepend: site.url }}')">
    <header class="post-header">
      {% include post_meta.html post=page %}
      <h1 class="post-title">{{ page.title }}</h1>
    </header>
  </div>
  <div class="wrapper">
  {% else %}
  <div class="wrapper">
    <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
      {% include post_meta.html post=page %}
    </header>
  {% endif %}

    <article class="post-content">
      {{ content }}

      <div style="clear: both;"></div>
    </article>

    {% if page.lead_image_credit.unsplash %}
    <div class="lead-image-credit">
      Cover image by <a
        href="https://unsplash.com/@{{ page.lead_image_credit.unsplash.username }}">{{
      page.lead_image_credit.unsplash.name }}</a> on <a
        href="https://unsplash.com">Unsplash</a>
    </div>
    {% endif %}

    {% unless page.comments == false %}
    {% include disqus.html %}
    {% endunless %}

    {% include post_nav.html %}
  </div>
</div>
