<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    {% include rss/channel.html %}
    <link>{{ site.url }}{{ site.baseurl }}/</link>
    <atom:link href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" rel="self" type="application/rss+xml"/>
    <pubDate>{{ site.time | date_to_rfc822 }}</pubDate>
    <lastBuildDate>{{ site.time | date_to_rfc822 }}</lastBuildDate>
    <generator>Jekyll v{{ jekyll.version }}</generator>
    {% for post in site.posts limit:10 %}
    <item>
      <title>{{ post.title | xml_escape }}</title>
      <description>
        {% include rss/post.html %}
      </description>
      {% if post.modified_date %}
      <pubDate>{{ post.modified_date | date_to_rfc822 }}</pubDate>
      {% else %}
      <pubDate>{{ post.date | date_to_rfc822 }}</pubDate>
      {% endif %}
      <link>{{ post.url | prepend: site.baseurl | prepend: site.url }}</link>
      {% if post.lead_image %}
      <enclosure url="{{ post.lead_image | prepend: site.baseurl | prepend: site.url }}" length="{{ post.lead_image | filesize }}"/>
      {% endif %}
      <guid isPermaLink="true">{{ post.url | prepend: site.baseurl | prepend: site.url }}</guid>
      {% for tag in post.tags %}
      <category>{{ tag | xml_escape }}</category>
      {% endfor %}
      {% for cat in post.categories %}
      <category>{{ cat | xml_escape }}</category>
      {% endfor %}
    </item>
    {% endfor %}
  </channel>
</rss>
