---
layout: post
---
{{ content }}
<div class="series-footer">
    <ul>
        {% for post in page.series_posts %}
        <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>
