---
layout: post
---
{% assign series_index = page.series_index[0] %}
<div class="series-header">
    <p>{{ site.data.i18n.series }}: <a href="{{ series_index.url | prepend: site.baseurl }}">{{ series_index.title }}</a>.</p>
</div>
{{ content }}
<div class="series-footer">
    <p>{{ site.data.i18n.series }}: <a href="{{ series_index.url | prepend: site.baseurl }}">{{ series_index.title }}</a>.</p>
    <ul>
        {% for post in series_index.series_posts %}
        <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>
