---
layout: wrapped
---

<div class="tag-index">
    <h1 class="page-heading">{{ site.data.i18n.tag }}: {{ page.title |  capitalize | replace: "Ij", "IJ" }}</h1>

    {% include post_list.html posts=page.posts %}
</div>
