---
layout: wrapped
---
<div class="yearly-archive">
  <div>
    {% capture year %}<time datetime="{{ page.date | date: '%Y' }}">{{ page.date | date: "%Y" }}</time>{% endcapture %}
    <h1 class="title">{{ site.data.i18n.archives.yearly_header | params: year: year }}</h1>
  </div>
  <div>
    {% assign posts = page.posts | group_by_exp: "post", "post.date | date: '%-m'" %}
    {% for group in posts reversed %}
    <h2>{% include month.html month=group.name %}</h2>
    <dl>
      {% for post in group.items reversed %}
      <dt>{% include date.html date=post.date %}</dt>
      <dd><a href="{{ post.url | prepend: site.baseurl }}"><span>{{ post.title }}</span></a></dd>
      {% endfor %}
    </dl>
    {% endfor %}
  </div>
</div>
